If you classify a response as uninformative ('T'), then all other categories must automatically be set to 'FALSE'.
If you think a response might be uninformative but are not completely sure, classify it as 'F?'. In this case, you may still mark any of the other categories as 'TRUE' or 'FALSE'.
If  you are sure the response is informative ('F'), then you should continue evaluating and assigning 'TRUE' or 'FALSE' to the other categories as appropriate.
